<br>
<% flash.each do |category, messages| %>
  <strong><%= category %></strong>, class: <%= category.class.name %>
  <ul>
    <% messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<a href="/flashes/now">Now</a>
<a href="/flashes/later">Later</a>
